@charset "UTF-8";
/**
* Подключение шрифтов локально из папки "./src/fonts"
*/
@font-face {
  font-family: AcierBAT;
  font-display: swap;
  src: url("../fonts/AcierBATText-Solid.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AktivGrotesk;
  font-display: swap;
  src: url("../fonts/AktivGroteskCorp-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cabin";
  font-display: swap;
  src: url("../fonts/Cabin-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cabin";
  font-display: swap;
  src: url("../fonts/Cabin-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cabin";
  font-display: swap;
  src: url("../fonts/Cabin-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
/** Подключение переменных */
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/**
* Подключение sass function и mixins и extends стилей
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/** Обнуление */
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}
*, *:before, *:after {
  box-sizing: border-box;
}
*:focus, *:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  opacity: 0;
  scroll-behavior: smooth;
  transition: opacity 0.8s ease-in-out;
}
html.loaded {
  opacity: 1;
}
html.lock {
  overflow: hidden;
  touch-action: none;
}

html,
body {
  width: 100%;
  height: 100%;
  min-width: 320px;
}

body {
  overscroll-behavior: none;
  font-size: var(--bs-font-size);
  font-family: var(--bs-font-family);
  font-weight: var(--bs-font-weight);
  line-height: var(--bs-line-height);
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  user-select: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  user-select: none;
}
a:focus, a:active {
  outline: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

sup {
  color: inherit;
}

/**
* Библиотеки
* раскомментировать для использования
*/
/*
 * Swiper 8.4.5
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2022 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: November 21, 2022
*/
@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

/**
* Подключение custom scrollbar для всего сайта
*/
/**
* Общие параметры, шаблоны(заготовки) и вспомогательные классы
*/
/** Базовые анимации: */
@keyframes show-header {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@keyframes fade-up-big {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/** Стили для полноэкранного блока: */
/*
* (i) Стили будут применяться ко
* всем классам содержащим *__container
* Например header__container, main__container и т.д.
*/
[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}
.gallery__wrapper [class*=__container] {
  max-width: 100%;
  padding: 1.25rem 5vw;
}
.header-is-sticky .gallery__wrapper [class*=__container] {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
@media (max-width: 62em) {
  .gallery__wrapper [class*=__container] {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /** Поменять на clip - если используется в проекте position: sticky */
  overflow: hidden;
}

.page {
  position: relative;
  flex: 1 1 auto;
}
.page [data-observ] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background: transparent;
  pointer-events: none;
}
.page_start {
  padding-top: 6.25rem;
}

/**
* БЕМ блоки используемые во всё проекте
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

img {
  max-width: 100%;
  height: auto;
}

.main__btn {
  font-family: AktivGrotesk;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.288px;
  border-radius: 6.4px;
  background: #db5e5e;
  padding: 1rem 1.75rem;
  color: #fff;
  transition: all 0.5s;
}
.main__btn:hover {
  opacity: 0.8;
}

.social__list {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
}

.social__item {
  max-width: 1.25rem;
}

.social__link svg {
  max-width: 100%;
  height: auto;
}
.menu-open .social__link svg {
  fill: #000;
}
.menu-open .social__link svg path {
  fill: #000;
}
.header-is-sticky .social__link svg {
  fill: #000;
}
.header-is-sticky .social__link svg path {
  fill: #000;
}
.gallery__wrapper .social__link svg {
  fill: #000;
}
.gallery__wrapper .social__link svg path {
  fill: #000;
}

/**
* Подключение стилей отдельных блоков и секций
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

.header {
  width: 100%;
  transition: background-color var(--bs-transition);
  z-index: 50;
  background-color: transparent;
  position: fixed;
  top: 0;
}
.header-is-sticky .header {
  background-color: #fff;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s;
  padding: 1.25rem 5vw;
  max-width: 100%;
}
.header-is-sticky .header__container {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
@media (max-width: 62em) {
  .header__container {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
.header__logo {
  max-width: 6.125rem;
  position: relative;
  z-index: 2;
}
@media (max-width: 62em) {
  .header__logo {
    max-width: 3.75rem;
  }
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 3.125rem;
  transition: transform 0.5s;
}
@media (max-width: 62em) {
  .header__menu {
    pointer-events: none;
    transform: translateY(100%);
    opacity: 0;
    position: fixed;
  }
  .menu-open .header__menu {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: all;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
  }
}
.header .menu__list {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
}
@media (max-width: 62em) {
  .header .menu__list {
    flex-direction: column;
  }
}
.header .menu__link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  color: #fff;
}
.header .menu__link br {
  display: none;
}
@media (max-width: 62em) {
  .header .menu__link br {
    display: block;
  }
}
@media (max-width: 62em) {
  .header .menu__link {
    font-size: 3rem;
    line-height: 125%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
.menu-open .header .menu__link {
  color: #000;
}
.header-is-sticky .header .menu__link {
  color: #000;
}
.gallery__wrapper .header .menu__link {
  color: #000;
}
@media (max-width: 62em) {
  .header__btn {
    margin-top: 12.5rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 62em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
    background: none;
    border: none;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 300ms ease 0ms;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .header-is-sticky .icon-menu span, .header-is-sticky .icon-menu::before, .header-is-sticky .icon-menu::after {
    background-color: #000;
  }
  .menu-open .icon-menu span, .menu-open .icon-menu::before, .menu-open .icon-menu::after {
    background-color: #000;
  }
  .gallery__wrapper .icon-menu span, .gallery__wrapper .icon-menu::before, .gallery__wrapper .icon-menu::after {
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

.footer {
  padding: 3.75rem 0;
}
.footer__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer__logo {
  max-width: 6.25rem;
}
.footer__title {
  font-family: AcierBAT;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
  margin-top: 20px;
}
.footer__link {
  color: #db5e5e;
  font-size: 1rem;
  margin-top: 0.9375rem;
  line-height: 1.25;
  text-decoration: underline;
}
.footer .social__list {
  margin-top: 2.5rem;
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero__background {
  position: absolute;
  bottom: 0;
  top: 0;
  left: -5%;
  right: -5%;
  z-index: -1;
  width: 110%;
  height: 100%;
}
.hero__background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.hero__background::after {
  content: "";
  position: absolute;
  opacity: 0.34;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: #140a01;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__suptitle {
  color: #fff;
  text-align: center;
  font-family: AcierBAT;
  font-size: 71.7px;
  font-style: normal;
  font-weight: 400;
  line-height: 71.7px;
  text-transform: lowercase;
  margin-top: 8.75rem;
}
@media (max-width: 62em) {
  .hero__suptitle {
    font-size: 41.2px;
    line-height: normal;
  }
}
@media (max-width: 47.9375em) {
  .hero__suptitle {
    font-size: 1.6875rem;
  }
}
.hero__title {
  color: #fff;
  text-align: center;
  font-family: AcierBAT;
  font-size: 172.6px;
  font-style: normal;
  font-weight: 400;
  line-height: 172.6px;
  text-transform: lowercase;
}
@media (max-width: 62em) {
  .hero__title {
    font-size: 6.25rem;
    line-height: normal;
  }
}
@media (max-width: 47.9375em) {
  .hero__title {
    font-size: 4.0625rem;
  }
}
.hero__text {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
  line-height: 43.2px;
  max-width: 34.6875rem;
  margin-top: 2.375rem;
}
@media (max-width: 62em) {
  .hero__text {
    margin-top: 3rem;
    font-size: 1.375rem;
    line-height: normal;
  }
}
@media (max-width: 47.9375em) {
  .hero__text {
    margin-top: 0.625rem;
  }
}
.hero__btn {
  padding: 1.25rem 2rem;
  margin-top: 1.75rem;
}
@media (max-width: 47.9375em) {
  .hero__btn {
    margin-top: 2.5rem;
  }
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

.contacts {
  padding: 7.8125rem 0;
}
@media (max-width: 62em) {
  .contacts {
    padding: 3.125rem 0;
  }
}
.contacts__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.125rem;
}
@media (max-width: 62em) {
  .contacts__container {
    flex-direction: column;
    gap: 0.9375rem;
  }
}
.contacts__block {
  max-width: 37.5rem;
}
.contacts__title {
  font-family: AcierBAT;
  font-size: 33.6px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  color: #db5e5e;
  max-width: 18.75rem;
}
.contacts__text {
  margin-top: 1rem;
  line-height: 1.8;
  font-size: 1rem;
  letter-spacing: 0em;
}
.contacts__form {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2.5rem;
  column-gap: 0.625rem;
}
.contacts__form-label {
  display: flex;
  flex-direction: column;
  width: calc(50% - 5px);
}
.contacts__form-label.email__label {
  width: 100%;
}
.contacts__form-label.message__label {
  width: 100%;
}
.contacts__form-title {
  display: flex;
}
.contacts__form-input {
  width: 100%;
  padding: 12px;
  margin: 6px 0 4px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #000;
  font-family: sans-serif;
  font-size: 12px;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 2px;
}
.contacts__form-input.textarea {
  height: 6.25rem;
}
.contacts__form-subtext {
  font-size: 0.75rem;
  margin-top: 0.3125rem;
}
.contacts__map {
  max-width: 31.25rem;
  width: 100%;
}
@media (max-width: 62em) {
  .contacts__map {
    max-width: 100%;
    height: 25.625rem;
  }
  .contacts__map iframe {
    width: 100%;
    height: 100%;
  }
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

.rooms {
  padding: 3.75rem 0;
  background: #f5f4f5;
  position: relative;
}
.rooms__title {
  font-size: 1.75rem;
  line-height: 1.25;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.rooms__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 31.25em) {
  .rooms__navigation {
    justify-content: center;
    gap: 1.125rem;
    margin-top: 1.5rem;
  }
}
.rooms__navigation .swiper-button-prev,
.rooms__navigation .swiper-button-next {
  opacity: 0.7;
  background: #db5e5e;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0.625rem;
  position: absolute;
  top: 50%;
  z-index: 1;
  cursor: pointer;
  transition: all 0.5s;
}
@media (max-width: 31.25em) {
  .rooms__navigation .swiper-button-prev,
  .rooms__navigation .swiper-button-next {
    position: static;
    transform: translateY(0);
    width: 40px;
    height: 40px;
    opacity: 1;
  }
}
.rooms__navigation .swiper-button-prev svg,
.rooms__navigation .swiper-button-next svg {
  max-width: 100%;
  height: auto;
}
.rooms__navigation .swiper-button-prev:hover,
.rooms__navigation .swiper-button-next:hover {
  opacity: 1;
}
.rooms__navigation .swiper-button-prev {
  left: 6.25rem;
  transform: translateY(-50%);
}
@media (max-width: 31.25em) {
  .rooms__navigation .swiper-button-prev {
    transform: translateY(0);
  }
}
.rooms__navigation .swiper-button-next {
  transform: translateY(-50%);
  right: 6.25rem;
}
@media (max-width: 31.25em) {
  .rooms__navigation .swiper-button-next {
    transform: translateY(0);
  }
}
.rooms__wraper {
  margin-top: 3.125rem;
}
.rooms__box {
  max-width: 32.8125rem;
  width: 100%;
}
@media (max-width: 62em) {
  .rooms__box {
    max-width: 20.625rem;
  }
}
@media (max-width: 31.25em) {
  .rooms__box {
    max-width: 100%;
  }
}
.rooms__box-img {
  padding-bottom: 75%;
  position: relative;
}
.rooms__box-img img {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.rooms__box-title {
  font-family: AcierBAT;
  color: #140a01;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 25.92px;
  margin-top: 0.9375rem;
  text-transform: uppercase;
}
.rooms__box-price {
  margin-top: 0.625rem;
  color: #140a01;
  font-size: 14.4px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.92px;
}
.rooms__box-btn {
  margin-top: 1.875rem;
  display: inline-block;
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

.plans {
  background: #f5f4f5;
  padding: 1.25rem 0 5rem;
}
.plans__block {
  border-top: #140a01 1px solid;
  position: relative;
  overflow: hidden;
}
.plans__title {
  color: #140a01;
  font-family: AcierBAT;
  font-size: 67.6px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 62em) {
  .plans__title {
    font-size: 38.7px;
  }
}
@media (max-width: 47.9375em) {
  .plans__title {
    position: relative;
    padding: 1.25rem 0;
    text-align: center;
  }
}
.plans__img {
  width: 100%;
  height: auto;
  transform: scale(1.1);
}
.plans__btn {
  margin: 1.875rem auto 0;
  display: flex;
  max-width: max-content;
}
@media (max-width: 47.9375em) {
  .plans__btn {
    max-width: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

.innovative {
  padding: 6.875rem 0 7.5rem;
  padding: 5.9375rem 0 2.8125rem;
}
.innovative__subtitle {
  color: #db5e5e;
  font-family: AcierBAT;
  font-size: 33.6px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 62em) {
  .innovative__subtitle {
    font-size: 1.5rem;
  }
}
.innovative__title {
  color: #140a01;
  font-family: AcierBAT;
  font-size: 72.075px;
  font-style: normal;
  font-weight: 500;
  line-height: 72.5px;
  text-transform: uppercase;
  margin-top: 0.9375rem;
}
@media (max-width: 62em) {
  .innovative__title {
    font-size: 2rem;
  }
}
.innovative__block {
  margin-top: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 0.875rem;
  row-gap: 3.125rem;
}
@media (max-width: 62em) {
  .innovative__block {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 31.25em) {
  .innovative__block {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
}
.innovative__box {
  background: #f5f4f5;
  border-radius: 20px;
  overflow: hidden;
}
.innovative__box-img {
  height: 9.6875rem;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.innovative__box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.innovative__box-icon {
  position: absolute;
  bottom: 0;
  left: 1.875rem;
  max-width: 4.8125rem;
  height: auto !important;
}
@media (max-width: 31.25em) {
  .innovative__box-icon {
    max-width: 4.375rem;
  }
}
.innovative__box-title {
  margin: 0.5rem auto 0.9375rem;
  text-align: center;
  color: #140a01;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  max-width: 13.125rem;
}
.innovative__box-title strong {
  font-weight: 700;
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

.reviews {
  position: relative;
  padding: 8.4375rem 0 11.875rem;
}
@media (max-width: 62em) {
  .reviews {
    padding: 4.375rem 0;
  }
}
.reviews__bg {
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: -1;
  left: -5%;
  right: -5%;
  z-index: -1;
  width: 110%;
}
.reviews__bg img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
.reviews__title {
  font-family: AcierBAT;
  color: #fff;
  font-size: 26.1px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
}
@media (max-width: 47.9375em) {
  .reviews__title {
    font-size: 1.75rem;
  }
}
.reviews__slider .swiper-button-prev,
.reviews__slider .swiper-button-next {
  background: #fff;
}
.reviews__wrapper {
  margin-top: 4.375rem;
}
.reviews__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__box-text, .reviews__box-name {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
}
.reviews__box-name {
  margin-top: 1.375rem;
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

.dedicated {
  position: relative;
  padding: 15.625rem 0 10.9375rem;
}
@media (max-width: 62em) {
  .dedicated {
    padding: 5rem 0 15.9375rem;
  }
}
.dedicated__bg {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
}
.dedicated__bg img {
  object-fit: cover;
  object-position: center right;
  height: 100%;
  width: 100%;
}
.dedicated__title {
  color: #fff;
  font-family: AcierBAT;
  font-size: 78.5px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  text-transform: lowercase;
  max-width: 40.3125rem;
}
@media (max-width: 62em) {
  .dedicated__title {
    font-size: 45px;
  }
}
.dedicated__subtitle {
  color: #fff;
  font-family: AcierBAT;
  font-size: 33.6px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  text-transform: lowercase;
  max-width: 19.375rem;
}
@media (max-width: 62em) {
  .dedicated__subtitle {
    font-size: 28px;
    max-width: 16.25rem;
  }
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
:root {
  --bs-font-family: "Cabin", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #222;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #fff;
  --black-color: #131313;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

.gallery {
  margin-top: 12.5rem;
}
.gallery__block {
  column-count: 2;
  column-gap: 1.25rem;
  row-gap: 1.25rem;
  writing-mode: horizontal-tb;
  /* Добавьте это свойство для изменения направления на слева направо */
}
@media (max-width: 62em) {
  .gallery__block {
    column-gap: 0.625rem;
    row-gap: 0.625rem;
  }
}
.gallery__box {
  width: 100%;
  margin-bottom: 1.25rem;
}
@media (max-width: 62em) {
  .gallery__box {
    margin-bottom: 0.625rem;
  }
}
.gallery__box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: all 0.2s;
}
.gallery__box img.loaded {
  opacity: 1;
}