[data-fullscreen] {
  min-height: 100vh;
}
.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}
@media (max-width: 48em) {
  .touch [data-fullscreen] {
    transition: height 0.2s ease-in-out;
  }
}
