@import "../config/fonts.module.css";
.footer {
  background-color: var(--white-color);
  padding: 3.75rem 0;
}
.footer__container {
  composes: container from "../config/common.module.css";
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer__logo {
  max-width: 6.25rem;
}
.footer__title {
  color: var(--bs-font-color);
  font-family: AcierBAT;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
  margin-top: 20px;
}
.footer__link {
  color: #db5e5e;
  font-size: 1rem;
  margin-top: 0.9375rem;
  line-height: 1.25;
  text-decoration: underline;
}

.footer .social__list {
  margin-top: 2.5rem;
}
