@import "../config/fonts.module.css";
.tabs {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.tabs__nav {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.tabs__trigger {
  padding: 0.625rem;
  transition: 0.2s ease-in-out;
}
.tabs__trigger.active {
  background-color: #ff4040;
  color: #fff;
}
.tabs__panel {
  animation: fade-up-big 0.4s forwards;
  display: none;
}
.tabs__panel.active {
  display: block;
}
